@using EggheadWeb.Common;
@using EggheadWeb.Utility;
@model EggheadWeb.Models.Common.SearchResult<EggheadWeb.Models.AdminModels.ScheduleSearchForm, EggheadWeb.Models.Common.Camp>
@{
    if (Model == null)
    {
        return;
    }
}
<table class="display stylized search-result-table">
    <colgroup>
        <col width="110px" />
        <col width="120px" />
        <col width="75px" />
        <col width="75px" />
        <col width="110px" />
        <col width="40px" />
        <col width="75px" />
        <col width="70px" />
        <col width="*" />
        <col width="75px" />
    </colgroup>
    <thead>
        <tr>
            <th>
                Location
            </th>
            <th>
                Camp
            </th>
            <th>
                Time(S)
            </th>
            <th>
                Time(E)
            </th>
            <th>
                Instructor
            </th>
            <th>
                $
            </th>
            <th>
                Grades
            </th>
            <th>
                Enroll #
            </th>
            <th>
                Dates
            </th>
            <th class="taskes">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PageItems)
        {
            <tr>
                <td>
                    <a href= '@Url.RouteUrl("Admin", new { action = "locations-detail", id = item.LocationId })'>
                        @item.Location.DisplayName</a>
                </td>
                <td>
                    <a href= '@Url.RouteUrl("Admin", new { action = "camp-detail", id = item.Id })'>
                        @item.Name</a>
                </td>
                <td>
                    @item.TimeStart.To12HoursString()
                </td>
                <td>
                    @item.TimeEnd.To12HoursString()
                </td>
                <td>
                    <a href= '@Url.RouteUrl("Admin", new { action = "instructors-detail", id = item.Instructor.Id })'>
                        @ScheduleUtil.GetShortInstructorName(item.Instructor)</a>
                </td>
                <td>
                    @item.Cost
                </td>
                <td>
                    @ScheduleUtil.GetGradeListText(item)
                </td>
                <td>
                    @(item.Enrolled.HasValue ? item.Enrolled.Value : 0)
                </td>
                <td>
                    @ScheduleUtil.GetDateListText(item)
                </td>
                <td>
                    <input type="button" data-redirect ='@Url.RouteUrl("Admin", new { action = "camp-detail", id = item.Id })' title="Edit" class="image-button image-button-modify" style="width: 16px; padding-left: 0px;" />
                    &nbsp;&nbsp;
                    <input type="button" data-post-delete ='@Url.RouteUrl("Admin", new { action = "camp-delete" })'  data-id = '@item.Id' title="Delete" class="image-button image-button-delete" style="width: 16px; padding-left: 0px;" />
                    &nbsp;&nbsp;
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.DisplayForModel("Paging", new
{
    PagingFormId = "schedulespaging",
    UniqueId = "Camp",
    PrePagingMethod = "setCampServiceType",
})
