@using EggheadWeb.Models.AdminModels;
@using EggheadWeb.Models.Common;
@using EggheadWeb.Security;
@using EggHeadWeb.DatabaseContext;
@model Frontend
@{
    ViewBag.BreadCrumbs = new string[] { "Settings", "FrontEnd" };
    ViewBag.Title = Model.Id > 0 ? "Edit FrontEnd" : "New FrontEnd";
    ViewBag.CurrentMenu = 6;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var isSuperAdmin = this.User.IsInRole(UserRoleProvider.SUPER_ADMIN);

    var admin = EggheadWeb.Security.UserProvider.Current.Admin;
}
@using (Html.BeginForm("frontend-edit", "", FormMethod.Post))
{
    <div class="box" style="margin-top: 0; margin-bottom: 0;">
        @Html.Partial("MainTaskbar", new MainTaskbarItem { Save = true })
        <input type="button" class="btn" style="float: right" value="Cancel" data-redirect="@Url.RouteUrl(new { action = "frontend" })" />
    </div>
    <br />

    @Html.HiddenFor(m => m.Id)
    @Html.ValidationSummary(true)

    <p>
        <label for="menuname">
            Frontend Name :
        </label>
        @Html.ValidationMessageFor(m => m.Name)<br />
        @Html.TextBoxFor(m => m.Name, new { @class = "half" })
    </p>

    <p>
        <label for="name">
            Menu Text:
        </label>
        @Html.ValidationMessageFor(m => m.MenuName)<br />
        @Html.TextBoxFor(m => m.MenuName, new { @class = "half" })
    </p>
    <p>
        <label for="active" class="required">
            Active:
        </label>
        @Html.ValidationMessageFor(m => m.IsActive)<br />
        @Html.CheckBoxFor(m => m.IsActive)
    </p>
    <p>
        <label for="content" class="required">
            Content:
        </label>
        @Html.ValidationMessageFor(m => m.PageContent)<br />
        @Html.TextAreaFor(m => m.PageContent, new { @class = "wysiwyg medium full" })
    </p>
}