@using EggheadWeb.Models.Common
@using EggheadWeb.Models.AdminModels
@using EggHeadWeb.DatabaseContext;
@model SearchResult<UserSearchForm, Admin>
@{
    if (Model == null)
    {
        return;
    }
}
<style type="text/css">
    div.icon-active {
        margin-left: 0;
    }
</style>
<table class="display stylized search-result-table email-table">
    <colgroup>
        <col width="40px" />
        <col width="140px" />
        <col width="110px" />
        <col width="170px" />
        <col width="120px" />
        <col width="*" />
        <col width="100px" />
        <col width="140px" />
    </colgroup>
    <thead>
        <tr>
            <th class="checkbox">
                <input type="checkbox" class="checkall" />
            </th>
            <th>
                Name
            </th>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Territory
            </th>
            <th>
                Super admin
            </th>
            <th class="taskes">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PageItems)
        {
            <tr>
                <td>
                    <input type="checkbox" class="checkitem" data-email-to-address='@item.Email' data-email-to-name='@item.FirstName @item.LastName' />
                </td>
                <td>
                    @item.FirstName @item.LastName
                </td>
                <td>
                    @item.Username
                </td>
                <td>
                    <a href="mailto:@item.Email">@item.Email</a>
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @if (item.Area != null)
                    {
                        <a href='@Url.RouteUrl("SuperAdmin", new { action = "territories-detail", id = item.AreaId })'>
                            @item.Area.DisplayName
                        </a>
                    }
                </td>
                <td align="center">
                    @Html.DisplayFor(i => item.IsSuperAdmin, "ActiveValue")
                </td>
                <td>
                    @if (!item.IsSuperAdmin)
                    {
                        <input type="button" data-redirect='@Url.RouteUrl(new { action = "users-edit", id = item.Id })' title="Edit" class="image-button image-button-modify" style="width: 16px; padding-left: 0px;" />
                        @:&nbsp; &nbsp;
                        <input type="button" data-redirect='@Url.RouteUrl(new { action = "users-resetpass", id = item.Id })' title="Reset Password" class="image-button image-button-key" style="width: 16px; padding-left: 0px;" />
                        @:&nbsp; &nbsp;
                        <input type="button" data-post-delete='@Url.RouteUrl(new { action = "users-delete" })' data-id='@item.Id' title="Delete" class="image-button image-button-delete" style="width: 16px; padding-left: 0px;" />
                        @:&nbsp; &nbsp;
                        <input type="button" title="Email" class="image-button image-button-email" style="width: 16px;
                        padding-left: 0px;" data-email-to-address='@item.Email' data-email-to-name='@item.FirstName @item.LastName' />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@using (Html.BeginForm("users", "SuperAdmin", FormMethod.Get, new { @id = "userspaging" }))
{
    @Html.HiddenFor(m => m.Form.QuickSearch)
}
@Html.DisplayForModel("Paging", new
{
    Submit = true,
    PagingFormId = "userspaging"
})
