@model EggheadWeb.Models.Common.ChangePasswordForm
<script type="text/javascript">
    $(document).ready(function () {
        $("#old-password").focus();
    });
</script>
<div class="twelve columns contact-form-wrapper">
    @using (Html.BeginForm("password-change", "Users", FormMethod.Post))
    {
        @Html.Partial("_UserInformMessages")

        <fieldset style="min-height: 320px;">
            <legend>CHANGE PASSWORD</legend>
            <table>
                <tr>
                    <td style='vertical-align: middle; text-align: right'>
                        Old Password:
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.OldPassword, new { @id = "old-password", @style = "width: 300px;" })
                        @Html.ValidationMessageFor(m => m.OldPassword, string.Empty, new { @style = "color:Red;" })
                    </td>
                </tr>
                <tr>
                    <td style='vertical-align: middle; text-align: right'>
                        New Password:
                    </td>
                    <td>@Html.PasswordFor(m => m.NewPassword, new { @style = "width: 300px;" })
                        @Html.ValidationMessageFor(m => m.NewPassword, string.Empty, new { @style = "color:Red;" })
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td style="color: Red;">
                        @Html.ValidationMessage("_FORM")
                    </td>
                </tr>
            </table>
            <br />
            <div style='text-align: right;'>
                <input type="button" class="btn btn-blue" id="change-password-save" value="SAVE" />
            </div>
        </fieldset>
    }
</div>
